@font-face {
  font-family: "TrashPanda";
  src: url("../fonts/TrashPanda-Italic.ttf");
}

#hoop{
    background-color:blue;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#right{
    position: absolute;
    bottom: 100px;
}
#shoot{
    position: absolute;
    bottom: 70px;
}

#basketball{
    background-color: orange;
    border-radius: 100%;
    position: absolute;
    width: 50px;
    height: 50px;
}

#bins{
    display:flex;
    justify-content: space-around;
    align-items: flex-end;
    height: 100%;
}
.bin{
    width: 200px;
    height: 200px;
    background-color: gray;

}

#plastic {
    background-image: url("http://66.media.tumblr.com/4d07cf1cf8ac31e9e1d73c5b66cfa92d/tumblr_mtyjmejB8d1qcdozto1_r1_500.gif");
}
#music{
    opacity:0;
}

